{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet"  href="{%  static  'css/style.css'  %}">
    <meta charset="UTF-8">
    <title>CSDS 344</title>

</head>
<body>
<div class="content-section" id="filter">
    <div align="right"><a href={% url "teacher_login" %}>Teacher Login</a></div>
    <h3>CSDS 344: Student View</h3>

    <p id="searchText"> Search for students
        <form method="get">
            <input name="q" id="id_q" value="{{ request.GET.q }}" placeholder="Enter Name Or ID">
            <button type="submit" id="searchButton">Search</button>
        </form>
    </p>
</div>

<table id="searchDisplay">
    <tr>
        <th>Name</th>
        <th>Id</th>
    </tr>
    {% for student in students %}
    <tr>
        <td>{{ student.name }}</td>
        <td>{{ student.case_id }}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>
